
@{
	ViewData["Title"] = "K12Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
	<p>Placeholder Here</p>
	<div id="box">
		<p>Placeholder Box :D</p>
	</div>
	<div id="box">
		<p>Placeholder Box :D</p>
	</div>
	<div id="box">
		<p>Placeholder Box :D</p>
	</div>
	<div id="box">
		<p>Placeholder Box :D</p>
	</div>
</div>
