@{
	ViewData["Title"] = "Home Page";
}
<div class="btn-group">
<div>
	<button class="btn">K12</button>
</div>
<div>
	<button class="btn">Primer Grado</button>
</div>
<div>
	<button class="btn">Segundo grado</button>
</div>
<div>
	<button class="btn">Tercer grado</button>
</div>
</div>