body {
}

#box {
    height: 100%;
    width: 270px;
    border-radius: 10px;
    border-color: red;
    border-style: solid;
    border-width: 1px;
    padding: 15px;
    float: left;
}

#coolbreak {
    margin-top: 5px;
    margin-bottom: 15px;
    border: 0;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
    border-top: 1px solid #eee;
}

.center {
    margin: auto;
    width: 30%;
    padding: 10px;
}