
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
	.tm-welcome-box {
		background-color: #a9bcd0;
	}

	a {
		color: #a9bcd0;
	}
</style>
<div>
</div>
<br />
<div></div>
<br />
<div></div>
<br />
<div></div>
<div class="tm-welcome-box" style="width:30%;">
	<div class="tm-welcome-text">
		<h2 class="tm-section-title">Tercer Grado</h2>
	</div>
	<a class="tm-welcome-link" href="">Accede Ahora</a>
</div>
<div class="tm-welcome-box" style="width:30%;">
	<div class="tm-welcome-text">
		<h2 class="tm-section-title">Cuarto Grado</h2>
	</div>
	<a class="tm-welcome-link" href="">Accede Ahora</a>
</div>
<div class="tm-welcome-box" style="width:30%;">
	<div class="tm-welcome-text">
		<h2 class="tm-section-title">Quinto Grado</h2>
	</div>
	<a class="tm-welcome-link" href="">Accede Ahora</a>
</div>
@* Dont judge me please *@
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

